@import "tailwindcss";

body {
  background-color: #FFFDF8;
  color: #1E293B;
}

@theme {
  --color-primary: #FFFFFF;
  --color-secondary: #1E293B;
}

.react-bpmn-diagram-container {
  width: 100%;
  height: 100%;
}